* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

  @font-face {
    font-family: JosefinSans-Bold;
    src:url(../fonts/JosefinSans-Bold.ttf);
}
.navbar-default {
  background-color: rgba(248, 248, 248, 0.52);
  border-color: transparent;
}

.container-fluid{
    padding: 0px;
}
.navbar-nav {
  float: none;
    text-align: right;
}
.navbar {
  margin-bottom: 0;
  position: fixed;
    width: 100%;
      z-index: 30;
}
.navbar-nav li {
  float: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-family: 'Inconsolata', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #6A9E1C;
}
.navegacion{
  background-color: #99D541;
  border-color: transparent;
}
.nombre {
  width: 123px;
  position: absolute;
  height: 88px;
  top: -26%;
  left: 1%;
    img {
  width: 100%;
  height: 100%;
  }
}
.banner{
  height: 100%;
  width: 100%;
  background-image: url(../img/portada-carmen.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.row {
  margin-left: 0;
    margin-right: 0;
}

.imagen-portafolio {
  height: 232px;
  width: 282px;
  margin-bottom: -66px;

}
.imagen{
  height: 50%;
  width: 100%;
}
#trabajo{
  text-align: center;
}
.cuadros{
  padding: 20px;
}
#sobre-mi{
    margin-top: 70px;
}
.sobre-mi{
  text-align: center;
  padding: 20px;
    p{
      font-size: 17px;
      padding-top: 85px;
    }
}
.contactanos{
  margin: 0 auto;
  height: 40%;
    text-align: center;
    p {
        margin: 0px 35px 20px
    }
}

.sobre{
  text-align: center;
  font-size: 40px;
  padding: 61px;
  font-family: "Atlantic";

}
.section-contactame{
  background-color: #FAFAFA;
}

footer{
  background-color: #C7C7BA;
  height: 30px;
  p{
    text-align: center;
    margin: 0;
    padding: 5px;
  }
}
.center{
        text-align: center;
    }
h2{
    margin-left: -354px;
    font-size: 26px;
    padding-top: 20px;
}
.about{
  background-color: #F7F7F7;
  height: 100%;
  margin-left: -15px;
}
.fotito{
  background: url(../img/mi-foto2.jpg) no-repeat;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.carousel-indicators {
  bottom: -4px;
}
.carousel-control.left {
    background-image: none;

}
.carousel-control.right {
  background-image: none;

}
.habilidades {
  text-align: center;
}
.sobre-mi{
  p {
    margin: -87px 59px 64px;
  }
}
li{
    padding: 3px;
      font-size: 18px;
}
.imagen-habilidades {
  height: 156px;
  width: 230px;
   margin-top: -95px;
}
h4{
      margin-left: -315px;
}
.servicios{
    margin-top: -40px;
}
.imagen-servicios{
  text-align: center;
    img{
      height: 232px;
      width: 282px;
      margin-top: 20px
    }
}
.proceso{
  width: 100%;
  height: 73%;

}
.iconos{
  width: 90px;
  height: 85px;
}
.bar{
    padding: 5px;
}
span{
      color: white;
  font-size: 20px;
}
.skill{
  img{
    height: 232px;
    width: 282px;
  }
}

.img-skill{
  width: 241px;
  margin-top: -68px;
  margin-bottom: -25px;
}
.grid-habilidades{
    width: 100%;
  float: left;
  padding-left: 20%;
}
.habilidades-2{
  li {
  padding: 3px;
  font-size: 16px;
  text-align: left;
}
  }
/*SECCIÓN BLOG FAROLITO*/

.seccion-servicios{
  h1{
    padding-top: 5%;
  }
}

.servicios{
  .img-servicios{
    text-align: center;
    position: relative;
    top: 41px;
      img{
          height: 100px;
      }
  }
  .caja-blog{
      text-align: center;
      width: 100%;
      height: 40%;
    .text-blog{
      padding: 0% 8% 10% 10%;
      margin: 0;
   }  
     a{
      text-decoration: none;
    }
    h3{
      padding: 21px 0;
      text-align: center;
      margin-top: 67px;
    }
 }
  .caja-blog:hover{
    transition: 0.5s;
    background-color: #99D541;
    width: 100%;

    .text-blog{
      color: white;
      margin: 0;
    }
  }
}
#footer{
  .row{
    text-align: center;
  }
  .col-md-12{
    padding: 16px;
      img{
        margin: 10px;
      }
  }
  h3{
    font-size: 35px;
    font-family: JosefinSans-Bold;
  }
  .p-1{
      margin: 40px 0px 0px;
  }
}