
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }
  
.navbar-default {
  background-color: rgba(248, 248, 248, 0.52);
  border-color: transparent;
}

.container-fluid{
	  padding: 0px;
}
.navbar-nav {
  float: none;
    text-align: right;
}
.navbar {
	margin-bottom: 0;
	position: fixed;
  	width: 100%;
  	  z-index: 30;
}
.navbar-nav li {
  float: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #6A9E1C;
}
.navegacion{
	background-color: #99D541;
	border-color: transparent;
}
.nombre {
  width: 123px;
  position: absolute;
  height: 88px;
  top: -26%;
  left: 1%;
}
.banner{
	height: 100%;
	width: 100%;
	background-image: url(../img/portada-carmen.png);
	background-attachment: fixed;
	background-size: 100% 100%;
}
/*.flecha {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 40px;
  margin-left: 628px;
}*/

.row {
	margin-left: 0;
  	margin-right: 0;
}
img{
	width: 100%;
	height: 100%;
}
.imagen-portafolio {
  height: 232px;
  width: 282px;
}
.imagen{
	height: 50%;
	width: 100%;
}
.portafolio{
	height: 100%;
}
.cuadros{
	padding: 20px;
}
.sobre-mi{
  	font-size: 17px;
  	  text-align: left;
}
.contactanos{
	width: 50%;
 	margin: 0 auto;
 	height: 70%;
 	  text-align: center;
}

.sobre{
	text-align: center;
	font-size: 40px;
	padding: 61px;
	font-family: "Atlantic";

}
.celeste{
	background-color: #FAFAFA;
}

footer{
	background-color: #3498db;
	height: 30px;
	p{
		text-align: center;
		margin: 0;

	}
}
h2{
  	margin-left: -354px;
    font-size: 26px;
    padding-top: 20px;
}
.about{
	background-color: #F7F7F7;
	height: 100%;
	margin-left: -15px;
}
.fotito{
  background: url(../img/mi-foto2.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}
.carousel {
  position: relative;
  height: 418px;
  width: 669px;
}
.carousel-indicators {
  bottom: -4px;
}
.carousel-control.left {
 	  background-image: none;

}
.carousel-control.right {
  background-image: none;

}
.habilidades {
  width: 100%;
  float: left;
    padding-left: 22%;
    text-align: left;
}
p {
    margin: -87px 59px 64px;
}
li{
	  padding: 3px;
	    font-size: 18px;
}
.imagen-habilidades {
  height: 156px;
  width: 230px;
   margin-top: -95px;
}
.skill .skillbar {
  height: 36px;
  background: #dfdfdf;
  margin: 0 0 10px 0;
    text-align: left;
}
.skill .bar {
  height: 35px;
  background-color: #99D541;

}
.skill{
      margin-top: -32px;
}
h4{
	    margin-left: -315px;
}
.proceso{
  width: 100%;
  height: 73%;

}
.iconos{
	  width: 100px;
  height: 100px;
}
.bar{
	  padding: 5px;
}
span{
	    color: white;
  font-size: 20px;
}
.skillbar{
	  width: 76%;
}